* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-Color;
  font-family: $Font;
  line-height: 1.6;
}

a {
  color: settingTextColor($primaryColor);
  text-decoration: none;
  color: rgb(59, 91, 152);
}

li {
  list-style-type: none;
}
