$background-Color: lighten(white, 10%);
$Font: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');
$primaryColor: blue;
$primaryFontColor: white;
$secondaryColor: orange;
$iconColor: #02bb8c;
$facebookColor: rgb(59, 91, 152);
$youtubeColor: red;
